<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Question</title>
</head>

<body>
    <h1>Edit Question:</h1>

    <form action="/quiz/<%= question._id %>?_method=PUT" method="POST">
        <div>
            <label for="question">Question</label>
            <input type="text" id="question" name="question[question]" value="<%= question.question %>">
        </div>

        <div>
            <label for="number">Number</label>
            <input type="number" id="number" name="question[number]" value="<%= question.number %>">
        </div>

        <div>
            <label for="correctAns">Correct Answer</label>
            <input type="text" id="correctAns" name="question[correctAns]" value="<%= question.correctAns %>">
        </div>

        <div>
            <label for="wrongAns1">Wrong Answer #1</label>
            <input type="text" id="wrongAns1" name="question[wrongAns1]" value="<%= question.wrongAns1 %>">
        </div>
        <div>
            <label for="wrongAns2">Wrong Answer #2</label>
            <input type="text" id="wrongAns1" name="question[wrongAns2]" value="<%= question.wrongAns2 %>">
        </div>
        <div>
            <label for="wrongAns3">Wrong Answer #3</label>
            <input type="text" id="wrongAns1" name="question[wrongAns3]" value="<%= question.wrongAns3 %>">
        </div>

        <button>Save Changes</button>
    </form>

    <ul>
        <li>
            <a href="/quiz/adminIndex">Back to Admin Home</a>
        </li>
        <li>
            <a href="/quiz/list">Back to Question List</a>
        </li>
    </ul>
    
    
</body>

</html>