<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz</title>
</head>
<body>
    <h1>Quiz</h1>
    <h3>Score: </h3>

    <ul>
        
        <% for (let question of questions) {%>
            <li>
                <%= question.number %>.) <%= question.question %>
                
                <form>
                    <button>
                        <%= question.correctAns %>
                    </button>

                    <button>
                        <%= question.wrongAns1 %>
                    </button>

                    <button>
                        <%= question.wrongAns2 %>
                    </button>

                    <button>
                        <%= question.wrongAns3 %>
                    </button>
                </form>
            </li>
            <% } %>
    </ul>
    
</body>
</html>