<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Question</title>
</head>
<body>
    <h1><%= question.number %>.) <%= question.question %></h1>
    <ul>
        <li>
            Correct Answer:<strong><%= question.correctAns %></strong>
        </li>  

        <li>
            Wrong Answer #1:<strong><%= question.wrongAns1 %></strong>
        </li>

        <li>
            Wrong Answer #2:<strong><%= question.wrongAns2 %></strong>
        </li>

        <li>
            Wrong Answer #3:<strong><%= question.wrongAns3 %></strong>
        </li>
    </ul>
    
    
   
    

    <a href="/quiz/<%= question._id %>/edit">Edit this Question</a>

    <form action="/quiz/<%= question._id %>?_method=DELETE" method="POST">
        <button>Delete</button>
    </form>

    <ul>
        <li>
            <a href="/quiz/adminIndex">Back to Admin Home</a>
        </li>
        <li>
            <a href="/quiz/list">Back to Question List</a>
        </li>
    </ul>
</body>
</html>